@reference "../../../globals.css";

.plainTextView a {
  @apply text-blue-500 dark:text-blue-400 underline;
}

.syntaxHighlightedHtml {
  display: block;
}

.prettierSyntaxHighlightedHtml {
  display: none;
}

.syntaxHighlightedContainer:has(:global(#pretty-print:checked))
  .syntaxHighlightedHtml {
  display: none;
}

.syntaxHighlightedContainer:has(:global(#pretty-print:checked))
  .prettierSyntaxHighlightedHtml {
  display: block;
}
